*{
    margin:0px;
    padding:0px; 
}

body{
    background-color: rgba(201, 175, 8, 0.961);
}

#contenedor{
   width: 1000px;
   height:auto;
   margin: 0.5em auto;
   background-color: rgba(201, 175, 8, 0.961);
}



header{
   width:1000px ;
   background-color: black;
  
}

nav{
    background-color: black;
    height: 30px;
    padding-left: 40px;
}

#contenido{
  
    height: 430px;
}
#section{
    width: 650px;
    float: left;
    margin-top: 2px;
}

.article{
    border: 1px solid black;
    margin: 4px;
}


p{
    background-color: white;
    padding:20px;
}

#aside{
    width: 350px;
    float: right;
   margin-top: 2px;
}



h1{
    color: white;
    margin-left: 300px;
}

img{
    width: 1000px;
    height: 300px;
}

a{
    color: white;
}

h3{
    background-color: black;
    color:white;
    height: 15px;
    padding:10px;
}

#formulario{
    width: 650px;
    background-color:white;
    color: black;
    border:1px solid black ;
    
}
fieldset{
    width: 550px;
    margin-left: 50px;
}

legend{
    margin-left: 50px;
}

button{
    margin-left: 200px;
}

footer{
  width:1000px ;
  height: 30px;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-top: 10px;
  margin: 00.5em auto;
}

